#app{
    width: 500px;
    height: 600px;
    border: 1px solid #ddd;
    color: blue; 
    /*background: url(../assets/images/logo.jpg);*/
}
button{
    background: url(../assets/images/button.png);
}